---
Language: Cpp
BasedOnStyle: LLVM
Standard: Cpp20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SortIncludes: CaseSensitive
SpacesInParentheses: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
...
